{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> {% block title %} My Portfolio {% endblock title %}</title>
</head>
<body>
    
    {% include "header.html" %}

    {% block content %}
    
    {% endblock content %}

    {% include "footer.html" %}

<script>

const menuToggle = document.getElementById("menu-toggle");
const navLinks = document.getElementById("nav-links");

menuToggle.addEventListener("click", function(){
navLinks.classList.toggle("active");
});

</script>
</body>
</html>