{% extends "base.html" %}
{% load static %}


{% block title %}Contact - Mohit Verma{% endblock title %}

{% block content %}

<main>

<!-- PAGE HERO -->

<section class="page-hero">

<h1>Contact Me</h1>

<p>Let's discuss your interior design project.</p>

</section>


<!-- CONTACT INFO -->

<section class="services">

<div class="container">

<h2 class="section-title">Get In Touch</h2>

<div class="service-grid">

<!-- Phone -->

<div class="service-card">

<img src="{% static 'images/phonelogo.png' %}" alt="Phone">

<h3>Phone</h3>

<p>+91 70373 38900</p>

</div>


<!-- Email -->

<div class="service-card">

<img src="{% static 'images/emaillogo.jpg' %}" alt="Email">

<h3>Email</h3>

<p>rajmohit819@gmail.com</p>

</div>


<!-- Location -->

<div class="service-card">

<img src="{% static 'images/locationlogo.png' %}" alt="Location">

<h3>Location</h3>

<p>Aligarh, Uttar Pradesh, India</p>

</div>


</div>

</div>

</section>


<!-- SOCIAL MEDIA -->



</main>

{% endblock content %}